.toolbar-tray a{
	color: #565656 !important;
}
/* .bigpixi-footer-social{
	margin-top: 70px;
} */
.our_footer_area .navbar-brand{
	padding: 15px 0px;
}
div.pricingTable-header:nth-child(2) {
    background: #fff !important;
}
.field.field--name-field-details .field__item{
	font-size: 16px;
    font-weight: 400;
    color: #90a0b4;
    padding: 8px 0;
}
.testimonial_area .testimonial_carosel .item p{
	width: 60%;
}
.toolbar-horizontal .header-logo{
	margin-top: 160px;
}
#banner{
	margin-top: -70px;
}
.toolbar-horizontal .header-menu-toggle{
	top: 120px !important;
}
.header-menu-toggle{
	top: 42px !important;
}
.video_bg_img iframe {
    width: 100%;
    padding-top: 66px;
    height: 420px;
}
.our_footer_area .region-logo{
	margin-top: 0px;
}
.field--name-field-what-we-do .who_we_area{
	min-height: 350px;
}
#about .row.wow  div:nth-child(2) .pricingTable .pricingTable-header {
   background-color: #e50077 !important;
}
#about .row.wow  div:nth-child(3) .pricingTable .pricingTable-header {
   background-color: #1e1558 !important;
}
.blog-area .blog-content{
	margin-bottom: 40px;
}
.pager__item.is-active a , .pager__item.is-active a:hover, .pager li a:hover{
   font-weight: 400;
   background: #6871f4 !important;
   color: #fff !important;
}

.pager__item a{
    height: 45px;
   line-height: 45px;
   display: block;
   border: 1px solid #296dc1;
   text-align: center;
   margin-left: -1px;
   color: #333 !important;
   font-size: 18px
}

.pager li a{
   display: inline-block;
   padding: 0px 14px;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 0px;
}
    
.pager__item {
   display: inline;
   padding: 0em;
}
.field--name-field-contact-form .btn-primary{
	width: 33%;
	padding:14px 29px;
}
.field--name-field-contact-form .btn-primary:hover{
    background: #f256c8 !important;
}
.user-register-form.user-form,.user-pass{
	padding: 5%;
}
ul.tabs.primary {
    margin-top: 80px;
 }
 ul.tabs.primary li a{
    color:#000 !important;
 }
.sewl-comments-meta a{
	font-size: 18px;
	margin-left: 0px;
	color: #000 !important;
    text-transform: capitalize;
}
.comment-area ul.links li a{
	color: #000 !important;
}
.sewl-comments-meta h4 span{
	margin-left: 0px;
}
.comment-main section{
	padding: 0px;
}
.comment-main h3{
	padding-bottom: 20px;
}
.comment-comment-form{
	padding: 3%;
}
.comment-comment-form input.js-form-submit,
.user-login-form input.js-form-submit,
.user-register-form input.js-form-submit,
.user-pass input.js-form-submit,.comment-comment-delete-form input.js-form-submit{
   padding: 14px 28px;
    width: 30%;
    background: #265db9;
    float: left;
    color: #fff !important;
    font-size:18px;
    font-weight: 500;
    border-radius:5px;
    text-decoration: none !important;
    display: inline-block;
    border: 0;
    color: #222222;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    -webkit-transform: skew(-8deg);
 -moz-transform: skew(-8deg);
 -o-transform: skew(-8deg);
}
#page-not-found h1{
	font-size: 120px;
}
#page-not-found h2{
	font-size: 50px;
}
.page-not-found-text a{
	color: #fff !important;
    background: #4747aa;
    margin-bottom: 35px;
    margin-top: 30px;
}
.testimonial_area {
    padding-bottom: 25px;
 }
.field--name-field-invest-content .field__item.active,
.field--name-field-invest-content .field__item.active .left-tabs-text{
    background-color: #012b72;
    color: #ffffff !important;
}
.field--name-field-analytic-title .field__item.active .filter-img{
	-webkit-filter: grayscale(0%);
     filter: grayscale(0%); 
}

.toolbar-horizontal.path-user .header-logo{
	margin-top: 75px;
}
.who_we_area{
	margin-bottom: 20px;
}
#user-login .yg-business-login{
	padding: 40px;
}
#user-login .container{
    width: 54%;
    border: 1px solid #e7e4e4;
    box-shadow: 1px 3px 4px 1px;
}
.back-right-text-c p{
   width: 65%;
   text-align: center;
   margin: 0 auto;
}
.path-comments ol.comments {
   width: 97%;
   overflow: hidden;
}
div#block-yg-intechnic-local-tasks {
   position: relative;
   bottom: 145px;
}
.user-logged-in #banner{
   margin-top: -160px !important;
}
.user-logged-in .s-header{
 height: 0px;
 top:0px;
}


/*Responsive*/
@media only screen and (max-width: 1600px){

.header-menu-toggle {
    top: 120px;
}
}
@media only screen and (max-width: 768px){
	.list-group-item span{
     font-size: 13px;
 }
 div#banner-text{
 	padding-top: 60px;
 }
 .bigpixi-footer-social{
 	    margin: 10px 0px;
 }
 .our_footer_area .navbar-brand{
 	margin-top: -50px;
 }
 .contact-info-section p{
 	font-size: 14px;
 }
}

@media only screen and (max-width: 480px){
.comment-comment-form input.js-form-submit, 
.user-login-form input.js-form-submit, .user-register-form input.js-form-submit, 
.user-pass input.js-form-submit, 
.comment-comment-delete-form input.js-form-submit{
	width: 42%;
}
.field--name-field-contact-form .btn-primary{
	width: 40%;
}
.About-right-bg-img {
    background-image: none !important; 
}
}
@media (min-width: 570px) and (max-width: 992px) {

.bhoechie-tab-content img{
	width: 100%
}
.fitter{
	margin: 30px 15px;
}
}