 <!-- #About Us Area start -->
      <div  id="about"  class=" py-70 pb_90">
         <div class="container ">
            <div class="row text-left  ">
               <div class="col-md-5">
                  <div class="service_left_text_top wow fadeInUp">
                     <h1>{{content.field_title.0}} </h1>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="service_left_text_top wow fadeInUp">
                     <p>{{content.field_descriptions.0}}</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- #About Us Area End -->