<!--#Our-Team-text start --> 
      <section>
         <div class="container">
            <div class="row text-center mb-60 ">
               <div class="title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <h1>{{content.field_title.0}}</h1>
                  <p>{{content.field_subtitle.0}} </p>
               </div>
            </div>
            <div class="row about_row  py-40">
                  {{content.field_team}}
            </div>
         </div>
      </section>