<section>
         <div class="container">
            <div class="row">
               <div class="col-lg-6">
                  <div class="section-heading left">
                     <h4>{{ content.field_title.0}}</h4>
                  </div>
                  <div class="contact-form-box margin-30px-top">
                     <div class="no-margin-lr" id="success-contact-form" style="display: none;"></div>
                     <form id="contactForm" method="post" class="contact-form" >
                        <div class="row">
                          {{ content.field_contact_form }}
                        </div>
                     </form>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="contact-info-box padding-30px-left sm-no-padding">
                     <div class="row">
                        <div class="col-12">
                           <div class="contact-info-section no-padding-top margin-10px-top">
                              <h4>{{ content.field_subtitle.0 }}</h4>
                              <p>{{ content.field_description.0 }}</p>
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="contact-info-section">
                              <h4>{{ content.field_address_title.0 }}</h4>
                              <ul class="list-style-1 no-margin-bottom">
                                 <li>
                                    {{ content.field_address }}
                                 </li>
                                 <li>
                                    {{ content.field_phone }}
                                 </li>
                                 <li>
                                    {{ content.field_email }}
                                    
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="contact-info-section border-none no-padding-bottom no-margin-bottom">
                              <h4>{{ content.field_hour_title.0 }}</h4>
                              <ul class="list-style-2">
                                 {% for key, item in content.field_time  %}
                                    {% if key|first != '#' %}
                                        <li> {{ item }}</li>        
                                    {% endif %}        
                                 {% endfor %}                    
                                 
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- #Contact Us Area End -->
      <!-- #Start map  Area -->
      <section class=" p0">
         <div class="container-fluid p0">
            <div id="contatti" class=" maps">
              {{content.field_google_map}}
            </div>
         </div>
      </section>