<div  id="about"  class="py-70">
         <div class="container">
            <div class="row text-center mb-60 ">
               <div class="title wow fadeInUp ">
                  <h1>{{content.field_title.0}}</h1>
               </div>
            </div>
            <div class="row about_row ">
               {{ content.field_best_thing }}
            </div>
         </div>
</div>