<!--#strat Analytics to answer   --> 
      <div class="container-fluid wow fadeInUp" id="analytics">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
               <div class="col-lg-9 col-md-9 col-sm-12 col-xs-9 bhoechie-tab p0 ">
                  <!-- Analytics section -->
                  <div class="tabas-gb-clip">
                  </div>
                  {{content.field_analytics_content}}             
                 
               </div>
               <!--Analytics  section -->
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu ">
                  <div class="list-group">
                    {{content.field_analytic_title}}
                  </div>
               </div>
               <!--Analytics  section -->
            </div>
         </div>
      </div>
      <!-- End Analyze Us Area -->