<!-- #service Us Area start -->
      <div  id="about"  class="py-70">
         <div class="container">
            <div class="row text-center mb-60 ">
               <div class="title wow fadeInUp ">
                  <h1>{{content.field_title.0}} </h1  >
                  <p>{{content.field_description.0}}  </p>
               </div>
            </div>
            <div class="row about_row mt_20">
               <!--#about-text start --> 
               {{content.field_what_we_do}}
               <!--#End service-text  --> 
            </div>
         </div>
      </div>