

 <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                  <div class="service-1">
                     <div class="servise-top wow fadeInUp">
                        <img src="{{file_url(content.field_icon['#items'].entity.uri.value)}}">
                     </div>
                     <h2 class="unify"> {{ content.field_title.0 }}  </h2>
                     <p class="bottom-s">{{ content.field_description.0 }}  </p>
                     <div class="top-banner wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        <a id="#services" href="{{ content.field_button.0['#url'] }}" class="btn btn-default  btn_text_cap wow fadeInUp  js-scroll-trigger" data-wow-delay=" 0.5s" style="visibility: visible; animation-delay:  0.5s; animation-name: fadeInUp;"><span class="skew_14">{{ content.field_button.0['#title'] }} </span></a>
                     </div>
                  </div>
</div>