
{% set base_url = url('<front>')  %}
 <a href="#" class="list-group-item  text-center bg_t analytic-title">
    <img src="{{file_url(content.field_icon['#items'].entity.uri.value)}}" class="filter-img"> <img src="{{base_url}}themes/yg_intechnic/images/tabs-bg-img.png" class="filter-img"> <span class="">{{content.field_title.0}}</span> 
 </a>