<!--Start Investment Planning-->
      <section>
         <div class="container " id="investment">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bhoechie-tab py-0">
                     <!-- flight section -->
                     {{content.field_invest_image}}
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bhoechie-tab-menu tabs_box_s">
                     <div class="list-group">
                        {{content.field_invest_content}}
                      
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--Start Investment Planning-->