<div class="bhoechie-tab-content  pl_90 wow fadeInUp analytic-content" >
                     <h2>{{content.field_title.0}}</h2>
                     <p> {{content.field_description.0}}</p>
                     <div class="tabs-img">
                        <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}">
                     </div>
                     <div class="left-service wow fadeInRight text-center" style="visibility: visible; animation-name: fadeInRight;">
                        <a  href="{{ content.field_button.0['#url'] }}" class="btn btn-default  wow fadeInUp  js-scroll-trigger" data-wow-delay=" 0.5s" style="visibility: visible; animation-delay:  0.5s; animation-name: fadeInUp;"><span class="skew_14">{{ content.field_button.0['#title'] }}</span></a>
                     </div>
                  </div>