 <a href="#" class="list-group-item invest-content">
                           <img src="{{file_url(content.field_icon['#items'].entity.uri.value)}}" alt="" class="fitter">
                           <h1 class="left-tabs-text"> {{content.field_title.0}}</h1>
                           <p>{{content.field_description.0}} </p>
                        </a>