 {#  https://api.drupal.org/api/drupal/core!modules!system!templates!menu.html.twig/8
    menu_name: The machine name of the menu.
    items: A nested list of menu items. Each menu item contains:
      attributes: HTML attributes for the menu item.
      below: The menu item child items.
      title: The menu link title.
      url: The menu link url, instance of \Drupal\Core\Url
      localized_options: Menu link localized options.
#}

{# All menu and submenu items #}

 <h3>Main Menu</h3>
 <ul class="header-nav__list">
   {% for item in items %}
        {%
            set classes = [
            'nav-link',
            item.is_expanded ? 'menu-item--expanded',
            item.is_expanded ? 'dropdown',
            item.is_collapsed ? 'menu-item--collapsed',
            item.in_active_trail ? 'menu-item--active-trail',
            item.in_active_trail ? 'active',
            ]
        %}
        <li class="current"><a {{ item.attributes.addClass( classes,'item') }}  href="{{item.url}}" > {{ item.title }}</a></li>
  {% endfor %}
</ul>



