{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<body id="top">
      <div class="bg-grediunt">          
            {% if page.navigation %}
               <!-- Header_Area -->
               <!-- header
                  ================================================== -->
               <header class="s-header">
                  <div class="header-logo">
                     {{page.logo}}
                  </div>
                  <!-- end header-logo -->
                  <nav class="header-nav">
                     <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
                     <div class="header-nav__content">
                        
                            {{page.navigation}}
                        <ul class="header-nav__social">
                           <li>
                              <a href="{{facebook}}" target="_blank"><i  class="fa fa-facebook-square fa-3x social"></i></a>
                           </li>
                           <li>
                              <a href="{{twitter}}" target="_blank"><i  class="fa fa-twitter-square fa-3x social"></i></a>
                           </li>
                           <li>
                              <a href="{{instagram}}" target="_blank"><i  class="fa fa-instagram fa-3x social"></i></a>
                           </li>
                           <li>
                              <a href="{{linkedin}}"><i class="fa fa-linkedin-square fa-3x social"></i></a>
                           </li>
                           
                        </ul>
                     </div>
                     <!-- end header-nav__content -->
                  </nav>
                  <!-- end header-nav -->
                  <a class="header-menu-toggle" href="#0">
                  <span class="header-menu-icon"></span>
                  </a>
               </header>
            {% endif %}      
    </div>
    <!-- #banner start -->
    <div class="about-bg-banner-img">
            <section id="banner" class="py_120">
               <div class="container ">
                  <div class="row">
                     <!-- #banner-text start -->            
                     <div id="banner-text" class="col-md-7 text-c text-left ">
                        <h5 class="wow fadeInUp main-h font_30" data-wow-delay="0.2s" >{{ node.getType }}
                           <br><span class="about_text ">{{ label }}  </span>  
                        </h5>
                       
                     </div>
                     <!-- /#banner-text End -->
                  </div>
               </div>
            </section>
            <div class="container-fluid p0 banner-shap-img">
            </div>
    </div>



  
{# Main #}
<div id="page-not-found">
  <div class="container">  
    <div class="row"> 
      <div class="col-xs-12 col-md-12 text-center">
        <div class="section-title">
          <h1>404</h1>
          <h2>Page Not Found</h2>
        </div>        
        <div class="page-not-found-text">
          <p>Sorry! The page you are trying to reach does not exist, or has been moved.</p>
          <a href="{{ front_page }}" class="btn btn-custom btn-lg page-scroll">Back To Home</a>
        </div>
      </div>      
    </div>
  </div>
</div>

 
 <!--#start Our footer Area -->
      <div class="our_footer_area">
         <div class="book_now_aera ">
            <div class="container wow fadeInUp">
               <div class="row book_now">
                  <div class="col-md-4">                     
                        {{page.logo}}                     
                     <div class="bigpixi-footer-social">
                        <a href="{{facebook}}" target="_blank" class="ml-15"><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                        <a href="{{twitter}}" target="_blank" class="ml-15"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                        <a href="{{instagram}}" target="_blank" class="ml-15"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                        <a href="{{linkedin}}" target="_blank" class="ml-15"><i id="social-em" class="fa fa-linkedin fa-2x social"></i></a>
                     </div>
                     {{ page.footer_col_1 }}
                  </div>
                  <div class="col-md-1 ">
                  </div>
                  <div class="col-md-3">
                     {{ page.footer_col_2 }}
                  </div>
                  <div class="col-md-4">
                      {{ page.footer_col_3 }}
                  </div>
                  <div class="col-md-12">
                      {% if copyright %}
                        {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
                      {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--#End Our footer Area -->
</body>